<% form_tag session_path do -%>
<fieldset>
  <legend><h1>Login Informationen</h1></legend>
    <p>Testkonto: <br />
    Login Name = <i>useraccount</i> <br />
    Kennwort = <i>password</i>	
    </p>
    <p><label for="login">Login Name</label><br/>
    <%= text_field_tag 'login' %></p>
    
    <p><label for="password">Kennwort</label><br/>
    <%= password_field_tag 'password' %></p>



   <p><label for="remember_me">Anmeldung speichern:</label>
   <%= check_box_tag 'remember_me' %></p>
   <p>
   <%= link_to 'Passwort vergessen?', forgot_password_path %><br />
   </p>
   <br>
   <p><%= submit_tag 'Log in' %></p>
  </fieldset>
<% end -%>
