<% form_for @assignment do |f| %>
  <%= f.error_messages %>
  <p>
	<%= f.hidden_field :manager %>
  </p>
  <p>
    Please enter the name of the person, you want to assign to your account below.	
  </p>  
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>

  <%= text_field_tag 'Status', @status_name, :disabled => true %>
	<%= f.hidden_field :status %>
  <p><%= f.submit "Submit" %></p>
<% end %>
