<% title "Assignments" %>

<table>
  <tr>
    <th>Manager</th>
    <th>User</th>
    <th>Status</th>
  </tr>
  <% for assignment in @assignments %>
    <tr>
      <td><%=h assignment.manager %></td>
      <td><%=h assignment.user %></td>
      <td><%=h assignment.status %></td>
      <td><%= link_to "Show", assignment %></td>
      <td><%= link_to "Edit", edit_assignment_path(assignment) %></td>
      <td><%= link_to "Destroy", assignment, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Assignment", new_assignment_path %></p>
