<% title "Assignment" %>

<p>
  <strong>Manager:</strong>
  <%=h @managername %>
</p>
<p>
  <strong>User:</strong>
  <%=h @username %>
</p>
<p>
  <strong>Status:</strong>
  <%=h @status_name %>
</p>

<p>
  <%= link_to "Edit", edit_assignment_path(@assignment) %> |
  <%= link_to "Destroy", @assignment, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", assignments_path %>
</p>
