<table>
  <tr>
	<th>Project</th>
    <th>Date</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Notes</th>
  </tr>
<% if @entries.nil? %>
  Nothing available at the moment
<% else %>
  <% for entry in @entries %>
  <tr>
	<td><%=h entry.project.name  %></td>
    <td><%=h entry.edate.strftime("%m/%d/%Y") if entry.edate %></td>
    <td><%=h entry.starttime.strftime("%H:%M") if entry.starttime %></td>
    <td><%=h entry.endtime.strftime("%H:%M") if entry.endtime %></td>
    <td><%=h entry.notes %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, :confirm => 'Are you sure?', :method => :delete %></td>
    <td>
	  <% if not entry.endtime %>
        <%= link_to "Mark ended", stop_entry_path(entry), :method => :put %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>