<table>
  <tr>
	<th>Projekt</th>
    <th>Datum</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th>Bemerkungen</th>
  </tr>
<% if @entries.nil? %>
  Keine Eintr&auml;ge vorhanden.
<% else %>
  <% for entry in @entries %>
  <tr>
	<td><%=h entry.project.name  %></td>
    <td><%=h entry.edate.strftime("%m/%d/%Y") if entry.edate %></td>
    <td><%=h entry.starttime.strftime("%H:%M") if entry.starttime %></td>
    <td><%=h entry.endtime.strftime("%H:%M") if entry.endtime %></td>
    <td><%=h entry.notes %></td>
    <td><%= link_to 'Anzeigen', entry %></td>
    <td><%= link_to 'Bearbeiten', edit_entry_path(entry) %></td>
    <td><%= link_to 'L&ouml;schen', entry, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    <td>
	  <% if not entry.endtime %>
        <%= link_to "Beenden", stop_entry_path(entry), :method => :put %>
      <% end %>
    </td>
  </tr>
  <% end %>
<% end %>
</table>