<tr>
  <% unless current_user.nil? %>
    <% if current_user.isRole('manager') %>
    <td><%=h noedit.user.login %></td>
    <% end %>	
  <% end %>
  <td><%=h noedit.project.name  %></td>
  <td align="right"><%=h noedit.edate.strftime("%d.%m.%Y") if noedit.edate %></td>
  <td align="right"><%=h noedit.starttime.strftime("%H:%M") if noedit.starttime %></td>
  <td align="right"><%=h noedit.endtime.strftime("%H:%M") if noedit.endtime %></td>
  <td align="right"><%=h noedit.minutes %></td>
  <td><%=h noedit.notes %></td>

</tr>