<h1>Editing entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :edate %><br />
    <%= f.date_select :edate %>
  </p>
  <p>
    <%= f.label :starttime %><br />
    <%= f.time_select :starttime %>
  </p>
  <p>
    <%= f.label :endtime %><br />
    <%= f.time_select :endtime %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @entry %> |
<%= link_to 'Back', entries_path %>
