
<h3>Eintrag erfassen</h3>

<% form_for :entry, :url => entries_path, :name => 'fo'  do |f| -%>
<%= f.error_messages %>
<%= f.hidden_field :user_id, :value => current_user %>
<table>
  <tr>
	<th><%= f.label :edate, "Datum" %> </th>
  	<th><%= f.label :starttime, "Beginn" %></th>
    <th><%= f.label :project_name, "Projektname" %></th>
  	<th><%= f.label :endtime, "Ende" %></th>
  	<th><%= f.label :notes, "Bemerkungen" %></th>
  </tr>
  <tr>
	<td><%= f.text_field :edate, :size => 10 %> </td>
  	<td> <%= f.text_field :starttime, :size => 10 %></td>
	<td><%= text_field_with_auto_complete :entry, :project_name, { :size => 15 }, { :url => formatted_projects_path(:js), :method => :get, :param_name => 'search' } %></td>
  	<td> <%= f.text_field :endtime, :size => 10 %></td>
  	<td><%= f.text_field :notes %></td>
  </tr>
</table>

<p><%= submit_tag "Erfassen!" %></p>
<% end -%>
<%= set_focus_to_id 'entry_edate' %>
<br />
<h3>Liste der Eintr&auml;ge</h3>
<table>
  <tr>
	<th>Projekt</th>
    <th>Datum</th>
    <th>Beginn</th>
    <th>Ende</th>
    <th>Bemerkungen</th>
  </tr>
<% if @entries.nil? %>
  Keine Zeiteintr&auml;ge vorhanden
<% else %>
  <%= render :partial => 'entry', :collection => @entries %>
<% end %>
</table>
