<h1>New entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>


  <%= f.hidden_field :edate %>
  <table>
    <tr>
    	<th width='10%'><%= f.label :starttime %></th>
    	<th><%= f.label :endtime %></th>
    	<th><%= f.label :notes %></th>
    </tr>
    
    <tr>
    	<td width='10%'> <%= f.text_field :starttime %></td>
    	<td> <%= f.text_field :endtime %></td>
    	<td><%= f.text_field :notes %></td>
    </tr>	
  </table>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', entries_path %>
