<h1>New entry</h1>

<% form_for(@entry) do |f| %>
  <%= f.error_messages %>


  <%= f.hidden_field :edate %>
  <table>
    <tr>
	    <th><%= f.label :edate, "Date" %> </th>
    	<th><%= f.label :starttime %></th>
    	<th><%= f.label :endtime %></th>
    	<th><%= f.label :notes %></th>
    </tr>
    
    <tr>
	    <td><%= f.text_field :edate, :size => 10 %> </td>
    	<td> <%= f.text_field :starttime, :size => 10 %></td>
    	<td> <%= f.text_field :endtime, :size => 10 %></td>
    	<td><%= f.text_field :notes %></td>
    </tr>
	
  </table>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', entries_path %>
