
<p>
  <b>Eintragsdatum:</b>
  <%=h @entry.edate %>
</p>

<p>
  <b>Startzeit:</b>
  <%=h @entry.starttime.strftime("%H:%M") %>
</p>

<p>
  <b>Endzeit:</b>
  <%=h @entry.endtime.strftime("%H:%M")  if @entry.endtime %>
</p>

<p>
  <b>Projekt:</b>
  <%=h @entry.project_name %>
</p>

<p>
  <b>Notizen:</b>
  <%=h @entry.notes %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
