<% if iphone_user_agent? # Show message for iPhone users -%>
<div class="message">
    <p>Using an iPhone? <a href="http://iphone.road-timer.com/">Use the optimised version</a>.</p>
</div>
<% end -%>


<% if not logged_in? %>
<br />   

<table border=0>
	<tr>
		<td valign="top"><H1>Willkommen bei Road Timer. </H1>
		  <p><a href="/germanfaq">Hier gibt es ein FAQ Dokument. </a></p>
		  <p>Eines vorweg: Die Benutzung des Road Timer ist für Einzelpersonen <u>kostenlos.</u></p>	
		  <p>Road Timer ist eine Anwendung, die Ihre Arbeitszeit erfasst und Ihnen Möglichkeiten zur Auswertung gibt.</p>
		  <p>Road Timer steht Ihnen hierbei so wenig wie möglich im Weg. Projekte werden während der Zeiteingabe erstellt und können später definiert werden. Offene Einträge werden Ihnen beim Start der Anwendung mitgeteilt und die Eingabe selber ist so einfach wie möglich gehalten.</p>
		  <p>Für Teams gibt es noch das Modell der Manager-Accounts. Dieser spezielle Accounttyp kann für das Team Projekte festlegen und die Daten aus dem Team auswerten; private Projekte der einzelnen User-Accounts sind dabei für den Manager unsichtbar.</p>
		<p>Haben Sie eine Frage? Unter <a href="mailto:gmagholder@web.de?subject=[Road Timer Mail]">dieser Mailadresse</a> helfe ich Ihnen gern weiter.</p>  
		</td>
		<td>
			<h3 align="right">Testkonto</h3>
			<p align="right">Um den Road Timer zu testen benutzen Sie bitte:<br />
			Username: <i>useraccount</i><br />
			Password: <i>password</i></p>
		</td>
	</tr>
</table>


<% else -%>
  <p>Willkommen <%= current_user.login %>.</p>
  <p>Projekte und Eintr&auml;ge finden Sie unter den jeweiligen Tabs. </p>
  <% if @assignment_request %>
    <p>
    	Der Benutzer <%= User.find_by_id(@assignment_request.manager).name %> möchte ihr Manager werden.<br />

        Wenn Sie diesem zustimmen wollen <%= link_to 'benutzen Sie bitte diesen Link', :controller => 'assignments', :action => 'assign', :id => @assignment_request.id %>.
    </p>

  <% end %>
   
      <% if @entries.size > 0  %>
        <p>
        	Sie haben <%= @entries.size %> offene Einträge in Ihrer Datenbank!
        </p>
        <% if @entries.size > 0 %>
          <h3>Liste der offenen Einträge</h3>
          <%= render :partial => 'entries/list', :collection => @entries %>
        <% end %>
      <% end %>
<% end -%>