
<% if not logged_in? %>
  <p>Welcome to constimer. </p>
  <p><a href="/germanfaq">You can find a german FAQ right here. </a></p>
<table border=0>
	<tr>
		<td valign="top">
		  <p>Road Timer ist eine Anwendung, die Ihre Arbeitszeit erfasst und Ihnen Möglichkeiten zur Auswertung gibt.</p>
		  <p>Road Timer steht Ihnen hierbei so wenig wie möglich im Weg. Projekte werden während der Zeiteingabe erstellt und können später definiert werden. Offene Einträge werden Ihnen beim Start der Anwendung mitgeteilt und die Eingabe selber ist so einfach wie möglich gehalten.</p>
		  <p>Für Teams gibt es noch das Modell der Manager-Accounts. Dieser spezielle Accounttyp kann für das Team Projekte festlegen und die Daten aus dem Team auswerten; private Projekte der einzelnen User-Accounts sind dabei für den Manager unsichtbar.</p>
		  <p><a href="/signup"><img src="images/SignUpUser.gif" width="150" height="150" /></a></p>
		</td>
		<td>
		  <p><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Entry','','images/EntryScreen-full.gif',1)"><img src="images/EntryScreen-half.gif" alt="Entry Screen" name="Entry" width="425" height="206" border="0" id="Entry" /></a></p>
		  <p><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Project','','images/ProjektListe-full.gif',1)"><img src="images/ProjektListe-half.gif" alt="Project List" name="Project" width="425" height="119" border="0" id="Project" /></a></p>
		  <p><a href="#" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('Report','','images/ReportScreen-full.gif',1)"><img src="images/ReportScreen-half.gif" alt="Report Screen" name="Report" width="425" height="202" border="0" id="Report" /></a></p>
		</td>
	</tr>
</table>


<% else -%>
  <p>Welcome <%= current_user.login %>.</p>
  <p>Please find your entries and projects on the navigation tabs. </p>
  <% if @assignment_request %>
    <p>
    	You have an assignment request from user <%= User.find_by_id(@assignment_request.manager).name %>.<br />

        If you want to assign your account to this manager account please <%= link_to 'use this link', :controller => 'assignments', :action => 'assign', :id => @assignment_request.id %>.
    </p>

  <% end %>
   
      <% if @entries.size > 0  %>
        <p>
        	You have <%= @entries.size %> open entries in your database!
        </p>
        <% if @entries.size > 0 %>
          <h3>Listing open entries</h3>
          <%= render :partial => 'entries/list', :collection => @entries %>
        <% end %>
      <% end %>
<% end -%>