
<% if not logged_in? %>
  <p>Welcome to constimer. </p>
  <% unless logged_in? -%>
	<% if_in_beta? do -%>
      <%= error_messages_for :invitation %>
	  <p>We are currently in private beta. Please enter your email address below and we will let know when an invitation becomes available.</p>
	  <% uberform_for [:user, Invitation.new] do |f| -%>
	    <%= f.text_field :email, :label => "Your Email:" %>
	    <%= f.submit 'Submit' %>
	  <% end -%>
    <% end -%>
  <% end -%>
<% else -%>
  <p>Welcome <%= current_user.login %>.</p>
  <p>Please find your entries and projects on the navigation tabs. </p>
  <% if @assignment_request %>
    <p>
    	You have an assignment request from user <%= User.find_by_id(@assignment_request.manager).name %>.<br />

        If you want to assign your account to this manager account please <%= link_to 'use this link', :controller => 'assignments', :action => 'assign', :id => @assignment_request.id %>.
    </p>

  <% end %>
   
      <% if @entries.size > 0  %>
        <p>
        	You have <%= @entries.size %> open entries in your database!
        </p>
        <% if @entries.size > 0 %>
          <h3>Listing open entries</h3>
          <%= render :partial => 'entries/list', :collection => @entries %>
        <% end %>
      <% end %>
<% end -%>