<h1>Editing project</h1>

<% form_for(@project) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :custname %><br />
    <%= f.text_field :custname %>
  </p>
  <p>
    <%= f.label :budget %><br />
    <%= f.text_field :budget %>
  </p>
  <p>
    <%= f.label :duedate %><br />
    <%= f.datetime_select :duedate %>
  </p>
  <p>
	<%= f.label :private, "Private" %><br />
    <%= f.check_box :private %>	
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @project %> |
<%= link_to 'Back', projects_path %>
