<h1>Projektliste</h1>

<table>
  <tr>
    
    <th>Name</th>
    <th>Kunde</th>
    <th>Budget</th>
    <th>bisherige Minuten</th>
    <th>Enddatum</th>
  </tr>

<% for project in @projects %>
  
  <tr>
    
    <td><%= project.name %></td>
    <td><%=h project.custname %></td>
    <td><%=h project.budget %></td>
    <td align="right"><%=h project.minutes %> min</td>
    <td><%=h project.duedate %></td>
    <% if project.user_id == current_user.id %>
      <td><%= link_to 'Anzeigen', project %></td>
      <td><%= link_to 'Bearbeiten', edit_project_path(project) %></td>
      <td><%= link_to 'L&ouml;schen', project, :confirm => 'Sind Sie sicher?', :method => :delete %></td>
    <% else %>
      <td></td><td></td><td>Manager Projekt</td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Projekt', new_project_path %>
