<h1>Bericht für <%= @user.login %></h1>
<p>Hier sind die Zeiteinträge.</p>


<form action="report" method="get" accept-charset="utf-8">
	<table>
		<tr>
		  <td>Projekt</td>
		  <td>Monat</td>
		  <td>Jahr</td>
		</tr>
		<tr>
	     
	     <td><%= select("project", "id", @projects.collect {|p| [ p.name, p.id ] }, {:include_blank => true}) %></td>
         <td><%= select("date", "month", [['Januar', 1], 
	                                ['Februar', 2],
	                                ['März', 3],
	                                ['April', 4],
	                                ['Mai', 5],
	                                ['Juni', 6],
	                                ['Juli', 7],
	                                ['August', 8],
	                                ['Septemper', 9],
	                                ['Oktober', 10],
	                                ['November', 11],
	                                ['Dezember', 12]], {:include_blank => true}) %></td>
         <td><%= select("date", "year", @years.collect {|y| [ y.edate.year, y.edate.year ] }, {:include_blank => true}) %></td>
       
       </tr>
    </table>
    
	<p><input type="submit" value="Ausf&uuml;hren &rarr;"></p>
</form>



<table border="1">
  <tr>
	<% if current_user.isRole('manager') %>
	<th>Colleague</th>
	<% end %>
	<th>Project</th>
    <th>Date</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Working time (min)</th>
    <th>Notes</th>
  </tr>
<% if @entries.nil? %>
  Keine Eintr&auml;ge
<% else %>
  <%= render :partial => 'entries/noedit', :collection => @entries %>
<% end %>
<% if @overall_min %>
   <% if current_user.isRole('manager') %>
     <td></td>
    <% end %>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td align="right"><b><%= @overall_min %></b></td>
	<td><b>gesamte Minuten in Anzeige</b></td>
<% end %>
<% if @overall_min %>
  <tr>
    <% if current_user.isRole('manager') %>
     <td></td>
    <% end %>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td align="right"><b><%= @overall_hours %>:<%= @overall_hours_rest_min %></b></td>
	<td><b>Stunden und Minuten in der Anzeige</b></td>
  </tr>
<% end %>
</table>
