<h1>Reports for <%= @user.login %></h1>
<p>These are the working entries.</p>


<form action="report" method="get" accept-charset="utf-8">
	<table>
		<tr>
		  <td>Projekt</td>
		  <td>Month</td>
		  <td>Year</td>
		</tr>
		<tr>
	     
	     <td><%= select("project", "id", @projects.collect {|p| [ p.name, p.id ] }, {:include_blank => true}) %></td>
         <td><%= select("date", "month", [['january', 1], 
	                                ['february', 2],
	                                ['march', 3],
	                                ['april', 4],
	                                ['may', 5],
	                                ['june', 6],
	                                ['july', 7],
	                                ['august', 8],
	                                ['septemper', 9],
	                                ['october', 10],
	                                ['november', 11],
	                                ['december', 12]], {:include_blank => true}) %></td>
         <td><%= select("date", "year", @years.collect {|y| [ y.edate.year, y.edate.year ] }, {:include_blank => true}) %></td>
       
       </tr>
    </table>
    
	<p><input type="submit" value="Continue &rarr;"></p>
</form>



<table border="1">
  <tr>
	<th>Project</th>
    <th>Date</th>
    <th>Starttime</th>
    <th>Endtime</th>
    <th>Working time (min)</th>
    <th>Notes</th>
  </tr>
<% if @entries.nil? %>
  Nothing available at the moment
<% else %>
  <%= render :partial => 'entries/noedit', :collection => @entries %>
<% end %>
<% if @overall_min %>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td align="right"><b><%= @overall_min %></b></td>
	<td><b>minutes in selection</b></td>
<% end %>
</table>
